@charset "utf-8";

.name_area{
	border-bottom:1px solid black;
	width:89%;
	margin-left:10%;
	margin-top: 40px;
}

.med_area{
	width:100%;
	margin-top: 35px;
}

.subject_area{
	border-bottom:1px solid black;
}

.section_area{
	margin: 20px 0 0 45px;
}
.data_area {
    border-bottom: 1px solid black;
    width: 63%;
    display: inline-block;
}
span.nameTitle {
    display: inline-block;
    margin-right: 3%;
}
span.nameArea{
    width:70%;
    display: inline-block;
}
span.subject_area {
    width: 30%;
    display: inline-block;
}
span.secTitle {
    width: 55%;
    display:  inline-block;
}
.phaseArea {
    margin-left: 5%;
}
span.phaseTitle {
    margin-right: 3%;
}
span.eachTime {
    display: inline-block;
    width: 9%;
    text-align: center;
    margin-left: 30px;
}
span.vs {
    display: inline-block;
    margin-left: 21px;
}
span.secNum {
    width: 40%;
    display: inline-block;
    text-align: center;
}
span.gNum {
    width: 22%;
    display: inline-block;
}