@charset "utf-8";

.name_area{
	border-bottom:1px solid black;
	width:90%;
	margin-left:10%;
	margin-top: 40px;
}

.med_area{
	width:100%;
	margin-left:5%;
	margin-top: 40px;
}

.subject_area{
	border-bottom:1px solid black;
	float:left;
}

.section_area{
	margin: 15px 0 0 15px;
}
