@charset "utf-8";

.name_area{
	width:90%;
	margin: 25px 0 0 10px;
}

.med_area{
	width:100%;
	margin-left:5px;
	margin-top: 25px;
}

.sub_area{
	margin-left: 1em;
}

.subject, .therapy_subject{
	font-weight: bold;
}

.therapy_subject{
	font-size: 20px;
}

#footer_space{
	font-size: 16px;
	margin-right: 50px;
	margin-top: 15px;
	width: 400px;
}

.string_area{
	width: 90%;
	font-size:18px;
}

.caution_area{
	font-size: 14px;
	width: 90%;
}

.caution_title{
	margin-left: -1em;
}

table{
	border-collapse: collapse;
}

td{
	text-align: center;
}

#brain{
	position: relative;
	width: 350px;
	height: 235px;
	background:url(../../img/brain.png);
	background-size: cover;
}

#zentouyou{
	position: absolute;
	top: 18px;
	left: 25px;
	filter: grayscale(0%);
	/*display : none;*/
}

#toutyouyou{
	position: absolute;
	top: 13px;
	left: 125px;
	filter: grayscale(0%);
	/*display : none;*/
}

#koutouyou{
	position: absolute;
	top: 84px;
	left: 229px;
	filter: grayscale(0%);
	/*display : none;*/
}

#sokutouyou{
	position: absolute;
	top: 93px;
	left: 92px;
	filter: grayscale(0%);
	/*display : none;*/
}